schemas/akomantoso10.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % PredefinedSimpleTypes SYSTEM "./pst.dtd">
%PredefinedSimpleTypes;


<!--  =====================================================================
Akoma Ntoso main schema


Release  11/05/2009
technical supervision Fabio Vitali - University of Bologna
legal domain supervision Monica Palmirani - University of Bologna

The present schema uses systematically XML design patterns as
described in http://www.xmlpatterns.com/
A few of them are explicitly mentioned, when their use or approach
was not felt clear or natural enough. Others are just used without
mentions.
=====================================================================  -->



<!--  =====================================================================

Main element groups

=====================================================================  -->


<!ENTITY % ANhier          "section | part | paragraph | chapter | title | book | tome | article | clause | subsection | subpart | subparagraph | subchapter | subtitle | subclause" >

<!ENTITY % ANcontainers    "speech | question | answer | other | scene" >

<!ENTITY % ANblock         "toc | list | tblock" >

<!ENTITY % ANinline        "def | remark | ref | mref | rref | mod | mmod | rmod | ins | del | omissis" >

<!ENTITY % ANtitleInline   "docType | docTitle | docNumber | docProponent | docDate | docPurpose" >

<!ENTITY % ANheaderInline  "courtType | neutralCitation | party | judge | lawyer | signature | opinion" >

<!ENTITY % ANotherInline   "entity | date" >

<!ENTITY % ANmarker        "noteRef | recordedTime | eol | eop" >


<!ENTITY % HTMLcontainers    "div" >

<!ENTITY % HTMLblock         "p | ul | ol | table" >

<!ENTITY % HTMLinline        "span | b | i | a" >

<!ENTITY % HTMLmarker        "img" >


<!ENTITY % hierElements      "%ANhier; | hcontainer" >

<!ENTITY % containerElements "%ANcontainers; | %HTMLcontainers; | container" >

<!ENTITY % blockElements     "%ANblock; | %HTMLblock; | block | foreign" >

<!ENTITY % inlineElements    "%ANinline; | %HTMLinline; | inline | %ANtitleInline; | %ANheaderInline; | %ANotherInline;" >

<!ENTITY % markerElements    "%ANmarker; | %HTMLmarker; | marker" >


<!ENTITY % inlineCM          "%inlineElements; | %markerElements;" >


<!ENTITY % judgementBlock    "introduction | background | motivation | decision" >

<!ENTITY % speechSection     "administrationOfOath | declarationOfVote | communication | petitions | papers | noticesOfMotion | questions | address | proceduralMotions | pointOfOrder | subdivision" >

<!--  =====================================================================

Attribute groups

=====================================================================  -->


<!ENTITY % name         " name %STRING; #REQUIRED" >

<!ENTITY % source       " source %ANYURI; #REQUIRED" >

<!ENTITY % date         " date %DATE; #REQUIRED" >

<!ENTITY % time         " time %TIME; #REQUIRED" >

<!ENTITY % link         " href %ANYURI; #REQUIRED" >

<!ENTITY % linkopt      " href %ANYURI; #IMPLIED" >

<!ENTITY % value        " value %STRING; #REQUIRED" >

<!ENTITY % optvalue     " value %STRING; #IMPLIED" >

<!ENTITY % speechAtts   " by %ANYURI; #REQUIRED as %ANYURI; #IMPLIED to %ANYURI; #IMPLIED" >

<!ENTITY % show         " showAs %STRING; #REQUIRED shortForm %STRING; #IMPLIED" >

<!ENTITY % period " start %ANYURI; #IMPLIED end %ANYURI; #IMPLIED startEfficacy %ANYURI; #IMPLIED endEfficacy %ANYURI; #IMPLIED"
>

<!ENTITY % statusType     "(omissis|repealed|suspended|editorial)" >
<!ENTITY % EstatusType "((omissis|repealed|suspended|editorial))" ><!ENTITY % enactment " %period;  status %statusType; #IMPLIED" >

<!ENTITY % modifiers " exclusion %BOOLEAN; #IMPLIED incomplete %BOOLEAN; #IMPLIED" >

<!ENTITY % role " as %ANYURI; #IMPLIED" >



<!ENTITY % cellattrs    " rowspan %INTEGER; '1'  colspan %INTEGER; '1' " >

<!ENTITY % HTMLattrs    " class %STRING; #IMPLIED style %STRING; #IMPLIED title %STRING; #IMPLIED" >

<!ENTITY % idreq        " id ID #REQUIRED" >

<!ENTITY % idopt        " id ID #IMPLIED" >


<!ENTITY % refersreq    " refersTo IDREF #REQUIRED" >

<!ENTITY % refers       " refersTo IDREF #IMPLIED" >


<!ENTITY % corereq      " %HTMLattrs;  %enactment;  %idreq;  %refers; " >

<!ENTITY % corereqreq   " %HTMLattrs;  %enactment;  %idreq;  %refersreq; " >

<!ENTITY % coreopt      " %HTMLattrs;  %enactment;  %idopt;  %refers; " >

<!--  =====================================================================

Simple types (data values)

=====================================================================  -->

<!ENTITY % versionType    "(originalVersion|singleVersion|multipleVersions)" >
<!ENTITY % EversionType "((originalVersion|singleVersion|multipleVersions))" >

<!ENTITY % eventType      "(generation|amendment|repeal)" >
<!ENTITY % EeventType "((generation|amendment|repeal))" >



<!ENTITY % remarkType     "(sceneDescription|phenomenon|caption|translation)" >
<!ENTITY % EremarkType "((sceneDescription|phenomenon|caption|translation))" >

<!ENTITY % timeType       "(startEvent|endEvent)" >
<!ENTITY % EtimeType "((startEvent|endEvent))" >

<!ENTITY % outOfLineType  "(sideNote|publicationNote)" >
<!ENTITY % EoutOfLineType "((sideNote|publicationNote))" >

<!--  =====================================================================

Complex types (markup structures)

=====================================================================  -->


<!ENTITY % basehierarchy     "(num?,heading?,subheading?)" >

<!ENTITY % hierarchy         "(%basehierarchy;,((%hierElements;)+ | content))" >

<!ENTITY % althierarchy      "(%basehierarchy;,(%speechSection; | %containerElements;)*)" >

<!ENTITY % blocksreq         "(%blockElements;)+" >

<!ENTITY % blocksopt         "(%blockElements;)+" >

<!ENTITY % inline_mixed            "%inlineCM;" >
<!ENTITY % inline "(#PCDATA | %inline_mixed;)*" >

<!ENTITY % inlinereq_mixed         "%inlineCM;" >
<!ENTITY % inlinereq "(#PCDATA | %inlinereq_mixed;)*" >

<!ENTITY % inlinereqreq_mixed      "%inlineCM;" >
<!ENTITY % inlinereqreq "(#PCDATA | %inlinereqreq_mixed;)*" >


<!ENTITY % markerreq         "EMPTY" >

<!ENTITY % markeropt         "EMPTY" >

<!ENTITY % metareq           "EMPTY" >

<!ENTITY % metaopt           "EMPTY" >


<!ENTITY % maincontent       "(%hierElements; | %blockElements; | %containerElements;)+" >


<!ENTITY % speechType        "(from,(%blockElements;)+)" >

<!ENTITY % referenceType     "EMPTY" >

<!ENTITY % argumentType      "EMPTY" >

<!ENTITY % periodType        "EMPTY" >

<!ENTITY % anyOtherType      "ANY" >

<!--  =====================================================================

Root element
Comment: One generic root element contains all document elements
Pattern: Universal Root
Reference: http://www.xmlpatterns.com/UniversalRootMain.shtml

=====================================================================  -->



<!ENTITY % legislativeDocs  "act | bill" >

<!ENTITY % judgementDocs    "judgement" >

<!ENTITY % debateDocs       "report | debateRecord" >


<!ENTITY % documentType      "(%legislativeDocs; | %debateDocs; | %judgementDocs; | doc)" >

<!ELEMENT     akomaNtoso        %documentType; ><!ATTLIST akomaNtoso xmlns CDATA #FIXED "http://www.akomantoso.org/1.0" >

<!--  =====================================================================

Document elements
Comment: All document elements share just two content models
Pattern: Consistent Element Set
Reference: http://www.xmlpatterns.com/ConsistentElementSetMain.shtml

=====================================================================  -->


<!ENTITY % hierarchicalStructure "(meta,preface?,preamble?,body,conclusions?,outOfLines?,attachments?)" >


<!ENTITY % debateStructure        "(meta,preface?,debate,conclusions?,outOfLines?,attachments?)" >


<!ENTITY % judgementStructure     "(meta,header,judgementBody,conclusions,outOfLines?,attachments?)" >


<!ENTITY % openStructure         "(meta,preface?,preamble?,mainContent,conclusions?,outOfLines?,attachments?)" >


<!ELEMENT act           %hierarchicalStructure; >
<!ATTLIST act contains %versionType; 'originalVersion'  >

<!ELEMENT bill          %hierarchicalStructure; >
<!ATTLIST bill contains %versionType; 'originalVersion'  >

<!ELEMENT report        %openStructure; >
<!ATTLIST report contains %versionType; 'originalVersion'  >

<!ELEMENT debateRecord  %debateStructure; >
<!ATTLIST debateRecord contains %versionType; 'originalVersion'  >

<!ELEMENT judgement     %judgementStructure; >
<!ATTLIST judgement contains %versionType; 'originalVersion'  >

<!ELEMENT doc           %openStructure; >
<!ATTLIST doc contains %versionType; 'originalVersion'  >

<!--  =====================================================================

AN common containers elements

=====================================================================  -->


<!ELEMENT preface     %blocksopt; >
<!ATTLIST preface %coreopt;  >

<!ELEMENT preamble    %blocksopt; >
<!ATTLIST preamble %coreopt;  >

<!ELEMENT conclusions %blocksopt; >
<!ATTLIST conclusions %coreopt;  >

<!ELEMENT header      %blocksopt; >
<!ATTLIST header %coreopt;  >

<!ELEMENT attachments (attachment+)>

<!ATTLIST attachments %coreopt;  >

<!ELEMENT attachment  %referenceType; >
<!ATTLIST attachment %idreq;  %link;  %show;  >

<!ELEMENT outOfLines  (outOfLine+)>

<!ELEMENT outOfLine   %blocksreq; >
<!ATTLIST outOfLine %corereq;  >

<!ATTLIST outOfLine %link;  type %outOfLineType; #REQUIRED >


<!ELEMENT body            (%hierElements;)+>

<!ATTLIST body %coreopt;  >


<!ELEMENT debate          (%speechSection;)+>

<!ATTLIST debate %coreopt;  >


<!ELEMENT judgementBody   (%judgementBlock;)+>

<!ATTLIST judgementBody %coreopt;  >


<!ELEMENT mainContent     %maincontent; >
<!ATTLIST mainContent %coreopt;  >

<!--  =====================================================================

Elements for hierarchical documents

=====================================================================  -->

<!ELEMENT section       %hierarchy; >
<!ATTLIST section %corereq;  >

<!ELEMENT part          %hierarchy; >
<!ATTLIST part %corereq;  >

<!ELEMENT paragraph     %hierarchy; >
<!ATTLIST paragraph %corereq;  >

<!ELEMENT chapter       %hierarchy; >
<!ATTLIST chapter %corereq;  >

<!ELEMENT title         %hierarchy; >
<!ATTLIST title %corereq;  >

<!ELEMENT book          %hierarchy; >
<!ATTLIST book %corereq;  >

<!ELEMENT tome          %hierarchy; >
<!ATTLIST tome %corereq;  >

<!ELEMENT article       %hierarchy; >
<!ATTLIST article %corereq;  >

<!ELEMENT clause        %hierarchy; >
<!ATTLIST clause %corereq;  >

<!ELEMENT subsection    %hierarchy; >
<!ATTLIST subsection %corereq;  >

<!ELEMENT subpart       %hierarchy; >
<!ATTLIST subpart %corereq;  >

<!ELEMENT subparagraph  %hierarchy; >
<!ATTLIST subparagraph %corereq;  >

<!ELEMENT subchapter    %hierarchy; >
<!ATTLIST subchapter %corereq;  >

<!ELEMENT subtitle      %hierarchy; >
<!ATTLIST subtitle %corereq;  >

<!ELEMENT subclause     %hierarchy; >
<!ATTLIST subclause %corereq;  >


<!ELEMENT content       %blocksopt; >
<!ATTLIST content %coreopt;  >

<!ELEMENT num           %inline; >
<!ATTLIST num %coreopt;  >

<!ELEMENT heading       %inline; >
<!ATTLIST heading %coreopt;  >

<!ELEMENT subheading    %inline; >
<!ATTLIST subheading %coreopt;  >

<!--  =====================================================================

Elements for debates documents

=====================================================================  -->


<!ELEMENT administrationOfOath  %althierarchy; >
<!ATTLIST administrationOfOath %corereq;  >

<!ELEMENT declarationOfVote     %althierarchy; >
<!ATTLIST declarationOfVote %corereq;  >

<!ELEMENT communication         %althierarchy; >
<!ATTLIST communication %corereq;  >

<!ELEMENT petitions             %althierarchy; >
<!ATTLIST petitions %corereq;  >

<!ELEMENT papers                %althierarchy; >
<!ATTLIST papers %corereq;  >

<!ELEMENT noticesOfMotion       %althierarchy; >
<!ATTLIST noticesOfMotion %corereq;  >

<!ELEMENT questions             %althierarchy; >
<!ATTLIST questions %corereq;  >

<!ELEMENT address               %althierarchy; >
<!ATTLIST address %corereq;  >

<!ELEMENT proceduralMotions     %althierarchy; >
<!ATTLIST proceduralMotions %corereq;  >

<!ELEMENT pointOfOrder          %althierarchy; >
<!ATTLIST pointOfOrder %corereq;  >

<!ELEMENT subdivision           %althierarchy; >
<!ATTLIST subdivision %corereq;  >

<!ATTLIST subdivision %name;  >


<!ELEMENT speech              %speechType; >
<!ATTLIST speech %coreopt;  %speechAtts;  >

<!ELEMENT question            %speechType; >
<!ATTLIST question %coreopt;  %speechAtts;  >

<!ELEMENT answer              %speechType; >
<!ATTLIST answer %coreopt;  %speechAtts;  >

<!ELEMENT other               %blocksopt; >
<!ATTLIST other %coreopt;  >

<!ELEMENT scene               %inline; >
<!ATTLIST scene %coreopt;  >


<!ELEMENT list                (item+)>

<!ATTLIST list %corereq;  >

<!ELEMENT from          %inline; >
<!ATTLIST from %coreopt;  >


<!ELEMENT introduction        %maincontent; >
<!ATTLIST introduction %coreopt;  >

<!ELEMENT background          %maincontent; >
<!ATTLIST background %coreopt;  >

<!ELEMENT motivation          %maincontent; >
<!ATTLIST motivation %coreopt;  >

<!ELEMENT decision            %maincontent; >
<!ATTLIST decision %coreopt;  >

<!--  =====================================================================

AN block elements
Comment: the only AN-specific block are the table of content (TOC),
a structure containing toc items related to the various subparts of the
main document, the list item and the titled block

=====================================================================  -->


<!ENTITY % itemType          "(%basehierarchy;,(%blockElements;)+)" >

<!ELEMENT tblock              %itemType; >
<!ATTLIST tblock %corereq;  >
<!--  The element item is a container belonging to a list  -->
<!ELEMENT item                %itemType; >
<!ATTLIST item %corereq;  >


<!ELEMENT toc       (tocItem+)>


<!ELEMENT tocItem   %inline; >
<!ATTLIST tocItem %coreopt;  >

<!ATTLIST tocItem %link;  level %INTEGER; #REQUIRED >


<!--  =====================================================================

AN inline elements
Comment: AN-specific inline elements are connected to the
identification of elements that are corresponding to an inline
legal structure, regardless of their position in the document.

=====================================================================  -->


<!ELEMENT docType      %inline; >
<!ATTLIST docType %coreopt;  >

<!ELEMENT docTitle     %inline; >
<!ATTLIST docTitle %coreopt;  >

<!ELEMENT docNumber    %inline; >
<!ATTLIST docNumber %coreopt;  >

<!ELEMENT docProponent %inline; >
<!ATTLIST docProponent %coreopt;  >

<!ELEMENT docDate      %inline; >
<!ATTLIST docDate %coreopt;  >

<!ATTLIST docDate %date;  >

<!ELEMENT docPurpose   %inline; >
<!ATTLIST docPurpose %coreopt;  >


<!ELEMENT courtType          %inline; >
<!ATTLIST courtType %coreopt;  >

<!ELEMENT neutralCitation    %inline; >
<!ATTLIST neutralCitation %coreopt;  >

<!ELEMENT party              %inlinereqreq; >
<!ATTLIST party %corereqreq;  >

<!ATTLIST party %role;  >

<!ELEMENT judge              %inlinereqreq; >
<!ATTLIST judge %corereqreq;  >

<!ATTLIST judge %role;  >

<!ELEMENT lawyer             %inlinereqreq; >
<!ATTLIST lawyer %corereqreq;  >

<!ATTLIST lawyer %role;  represents %ANYURI; #IMPLIED >

<!ELEMENT opinion            %inline; >
<!ATTLIST opinion %coreopt;  >


<!ELEMENT signature          %inline; >
<!ATTLIST signature %coreopt;  >


<!ELEMENT date               %inline; >
<!ATTLIST date %coreopt;  >

<!ATTLIST date %date;  >

<!ELEMENT entity             %inlinereqreq; >
<!ATTLIST entity %corereqreq;  >


<!ELEMENT ref          %inlinereq; >
<!ATTLIST ref %corereq;  >

<!ATTLIST ref %link;  >

<!ELEMENT mref         %inline; >
<!ATTLIST mref %coreopt;  >

<!ELEMENT rref         %inlinereq; >
<!ATTLIST rref %corereq;  >

<!ATTLIST rref %link;  upTo %ANYURI; #REQUIRED >


<!ENTITY % modType_mixed  "%inlineCM; | quotedText | quotedStructure" >
<!ENTITY % modType "(#PCDATA | %modType_mixed;)*" >

<!ELEMENT mod   %modType; >
<!ATTLIST mod %corereq;  >

<!ELEMENT mmod  %modType; >
<!ATTLIST mmod %corereq;  >

<!ELEMENT rmod  %modType; >
<!ATTLIST rmod %corereq;  >

<!ATTLIST rmod upTo %ANYURI; #REQUIRED >


<!ELEMENT quotedText        %inline; >
<!ATTLIST quotedText %coreopt;  >

<!ELEMENT quotedStructure   (%hierElements; | %blockElements; | %containerElements;)+>

<!ATTLIST quotedStructure %corereq;  >


<!ELEMENT def          %inline; >
<!ATTLIST def %coreopt;  >

<!ELEMENT remark       %inline; >
<!ATTLIST remark %coreopt;  >

<!ATTLIST remark type %remarkType; #IMPLIED >


<!ELEMENT ins          %inline; >
<!ATTLIST ins %coreopt;  >

<!ELEMENT del          %inline; >
<!ATTLIST del %coreopt;  >

<!ELEMENT omissis      %inline; >
<!ATTLIST omissis %coreopt;  >


<!ELEMENT noteRef      %markeropt; >
<!ATTLIST noteRef %coreopt;  >

<!ATTLIST noteRef %link;  num %STRING; #REQUIRED >


<!ELEMENT recordedTime   %markeropt; >
<!ATTLIST recordedTime %coreopt;  >

<!ATTLIST recordedTime type %timeType; #IMPLIED %time;  >


<!ENTITY % eolType  "%markeropt;" >

<!ELEMENT eol   %eolType; >
<!ATTLIST eol breakat %INTEGER; #IMPLIED %coreopt;  >

<!ELEMENT eop   %eolType; >
<!ATTLIST eop breakat %INTEGER; #IMPLIED %coreopt;  >

<!--  =====================================================================

Generic elements
Comment: All elements in this schema fall under one of five
content models: hierarchical container, container, block, inline
and mark. Besides named elements, the schema also provides for a
generic element for each of them, that can be used for markup that
fits the content models but can be specified by a precise name that
is not used in this schema. The 'name' attribute must be used for
naming the element.
It is also a characteristic of this schema that all named elements
are equivalent, and can be substituted to, the corresponding generic
element with their name as the value of the name attribute. Thus, by
definition, <p>  = <block name="p"> , <part>  = <hcontainer name="part"> ,
<act>  = <container name="act"> , etc.
Pattern: Generic Document + Role Attribute
Reference: http://www.xmlpatterns.com/GenericDocumentMain.shtml +
http://www.xmlpatterns.com/RoleAttributeMain.shtml

=====================================================================  -->


<!ELEMENT hcontainer %hierarchy; >
<!ATTLIST hcontainer %corereq;  >

<!ATTLIST hcontainer %name;  >

<!ELEMENT container  %blocksreq; >
<!ATTLIST container %corereq;  >

<!ATTLIST container %name;  >

<!ELEMENT block      %inline; >
<!ATTLIST block %coreopt;  >

<!ATTLIST block %name;  >

<!ELEMENT inline     %inline; >
<!ATTLIST inline %coreopt;  >

<!ATTLIST inline %name;  >

<!ELEMENT marker     %markerreq; >
<!ATTLIST marker %corereq;  >

<!ATTLIST marker %name;  >


<!ELEMENT foreign    %anyOtherType; >
<!ATTLIST foreign %idopt;  %linkopt;  >

<!--  =====================================================================

HTML elements
Comment: Many elements are drawn directly from HTML 4.0
Pattern: Reuse Document Types (partial)
Reference: http://www.xmlpatterns.com/ReuseDocumentTypesMain.shtml

=====================================================================  -->


<!ELEMENT div  %blocksreq; >
<!ATTLIST div %corereq;  >


<!ELEMENT p    %inline; >
<!ATTLIST p %coreopt;  >

<!ELEMENT li   (#PCDATA |%inlineCM; | ul | ol | p)*>

<!ATTLIST li %optvalue;  %coreopt;  >


<!ELEMENT span %inline; >
<!ATTLIST span %coreopt;  >

<!ELEMENT b    %inline; >
<!ATTLIST b %coreopt;  >

<!ELEMENT i    %inline; >
<!ATTLIST i %coreopt;  >

<!ELEMENT a    %inline; >
<!ATTLIST a %coreopt;  >

<!ATTLIST a %link;  target %STRING; #IMPLIED >


<!ELEMENT img %markeropt; >
<!ATTLIST img %coreopt;  >

<!ATTLIST img src %ANYURI; #REQUIRED alt %STRING; #IMPLIED width %INTEGER; #IMPLIED height %INTEGER; #IMPLIED >


<!ENTITY % listItems "(li+)" >

<!ELEMENT ul   %listItems; >
<!ATTLIST ul %corereq;  >

<!ELEMENT ol   %listItems; >
<!ATTLIST ol %corereq;  >


<!ELEMENT table (tr+)>

<!ATTLIST table %corereq;  width %INTEGER; #IMPLIED border %INTEGER; #IMPLIED cellspacing %INTEGER; #IMPLIED cellpadding %INTEGER; #IMPLIED >

<!ELEMENT tr (th | td)+>

<!ATTLIST tr %corereq;  >

<!ELEMENT th  %inline; >
<!ATTLIST th %coreopt;  >

<!ATTLIST th %cellattrs;  >


<!ELEMENT td  %inline; >
<!ATTLIST td %coreopt;  >

<!ATTLIST td %cellattrs;  >

<!--  =====================================================================

Metadata elements for all documents

=====================================================================  -->


<!ELEMENT meta             (identification,publication,classification*,lifecycle*,workflow*,analysis*,references*,notes*,proprietary*)>


<!ELEMENT identification   (FRBRWork,FRBRExpression,FRBRManifestation,FRBRItem?)>

<!ATTLIST identification %source;  >


<!ENTITY % coreProperties   "(FRBRthis,FRBRuri+,FRBRalias*,FRBRdate,FRBRauthor+,components?,preservation?)" >

<!ELEMENT FRBRWork             %coreProperties; >

<!ELEMENT FRBRExpression       %coreProperties; >

<!ELEMENT FRBRManifestation    %coreProperties; >

<!ELEMENT FRBRItem             %coreProperties; >



<!ELEMENT FRBRthis             %metaopt; >
<!ATTLIST FRBRthis %idopt;  >

<!ATTLIST FRBRthis %value;  >

<!ELEMENT FRBRuri              %metaopt; >
<!ATTLIST FRBRuri %idopt;  >

<!ATTLIST FRBRuri %value;  >

<!ELEMENT FRBRalias            %metaopt; >
<!ATTLIST FRBRalias %idopt;  >

<!ATTLIST FRBRalias %value;  >

<!ELEMENT FRBRdate             %metaopt; >
<!ATTLIST FRBRdate %idopt;  >

<!ATTLIST FRBRdate %date;  %name;  >

<!ELEMENT FRBRauthor           %metaopt; >
<!ATTLIST FRBRauthor %idopt;  >

<!ATTLIST FRBRauthor %link;  as %ANYURI; #IMPLIED >


<!ELEMENT components          (component)*>

<!ELEMENT component           (component)*>

<!ATTLIST component %idreq;  %name;  %link;  %show;  >

<!ELEMENT preservation        %anyOtherType; >
<!ATTLIST preservation %idopt;  %linkopt;  >


<!ELEMENT publication      %metaopt; >
<!ATTLIST publication %idopt;  >

<!ATTLIST publication %date;  %show;  %name;  %refers;  >


<!ELEMENT classification   (keyword+)>

<!ATTLIST classification %source;  >


<!ELEMENT keyword %metaopt; >
<!ATTLIST keyword %idopt;  >

<!ATTLIST keyword %value;  %show;  dictionary %ANYURI; #REQUIRED >


<!ELEMENT lifecycle (event+)>

<!ATTLIST lifecycle %source;  >

<!ELEMENT event %metareq; >
<!ATTLIST event %idreq;  >

<!ATTLIST event %date;  %source;  type %eventType; #IMPLIED >


<!ELEMENT workflow   (action+)>

<!ATTLIST workflow %source;  >

<!ELEMENT action     %metareq; >
<!ATTLIST action %idreq;  >

<!ATTLIST action %date;  %source;  %role;  type %eventType; #IMPLIED >


<!ELEMENT analysis              (activeModifications?,passiveModifications?)>

<!ATTLIST analysis %source;  >


<!ENTITY % Amendments          "(textualMod | meaningMod | scopeMod | forceMod | efficacyMod | legalSystemMod)+" >

<!ENTITY % modificationType    "(source+,destination+,force?,efficacy?,application?,duration?,condition?)" >


<!ENTITY % TextualMods         "(repeal|substitution|insertion|replacement|renumbering)" >
<!ENTITY % ETextualMods "((repeal|substitution|insertion|replacement|renumbering))" >

<!ENTITY % MeaningMods         "(variation|termModification|authenticInterpretation)" >
<!ENTITY % EMeaningMods "((variation|termModification|authenticInterpretation))" >

<!ENTITY % ScopeMods           "(exceptionOfScope|extensionOfScope)" >
<!ENTITY % EScopeMods "((exceptionOfScope|extensionOfScope))" >

<!ENTITY % ForceMods           "(entryIntoForce|endOfEnactment|postponementOfEntryIntoForce|prorogationOfForce|reEnactment|uncostitutionality)" >
<!ENTITY % EForceMods "((entryIntoForce|endOfEnactment|postponementOfEntryIntoForce|prorogationOfForce|reEnactment|uncostitutionality))" >

<!ENTITY % EfficacyMods        "(entryIntoEfficacy|endOfEfficacy|inapplication|retroactivity|extraefficacy|postponementOfEfficacy|prorogationOfEfficacy)" >
<!ENTITY % EEfficacyMods "((entryIntoEfficacy|endOfEfficacy|inapplication|retroactivity|extraefficacy|postponementOfEfficacy|prorogationOfEfficacy))" >

<!ENTITY % LegalSystemMods     "(staticReference|implementation|ratification|application|legislativeDelegation|deregulation|conversion|expiration|reiteration|remaking|republication|coordination)" >
<!ENTITY % ELegalSystemMods "((staticReference|implementation|ratification|application|legislativeDelegation|deregulation|conversion|expiration|reiteration|remaking|republication|coordination))" >


<!ELEMENT activeModifications   %Amendments; >

<!ELEMENT passiveModifications  %Amendments; >

 <!ENTITY            % textualMod_entity "(%modificationType;,(old?,new?))" ><!ELEMENT textualMod %textualMod_entity;>
<!ATTLIST textualMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST textualMod type %TextualMods; #REQUIRED >

 <!ENTITY            % meaningMod_entity "(%modificationType;,(domain?))" ><!ELEMENT meaningMod %meaningMod_entity;>
<!ATTLIST meaningMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST meaningMod type %MeaningMods; #REQUIRED >

 <!ENTITY              % scopeMod_entity "(%modificationType;,(domain?))" ><!ELEMENT scopeMod %scopeMod_entity;>
<!ATTLIST scopeMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST scopeMod type %ScopeMods; #REQUIRED >

<!ELEMENT forceMod              %modificationType; >
<!ATTLIST forceMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST forceMod type %ForceMods; #REQUIRED >

<!ELEMENT efficacyMod           %modificationType; >
<!ATTLIST efficacyMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST efficacyMod type %EfficacyMods; #REQUIRED >

<!ELEMENT legalSystemMod        %modificationType; >
<!ATTLIST legalSystemMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST legalSystemMod type %LegalSystemMods; #REQUIRED >


<!ELEMENT source           %argumentType; >
<!ATTLIST source %idopt;  %link;  upTo %ANYURI; #IMPLIED >

<!ELEMENT destination      %argumentType; >
<!ATTLIST destination %idopt;  %link;  upTo %ANYURI; #IMPLIED >

<!ELEMENT force            %periodType; >
<!ATTLIST force %idopt;  %period;  >

<!ELEMENT efficacy         %periodType; >
<!ATTLIST efficacy %idopt;  %period;  >

<!ELEMENT application      %periodType; >
<!ATTLIST application %idopt;  %period;  >

<!ELEMENT duration         %periodType; >
<!ATTLIST duration %idopt;  %period;  >

<!ELEMENT condition        %anyOtherType; >
<!ATTLIST condition %idopt;  %linkopt;  >

<!ATTLIST condition frozen %BOOLEAN; #IMPLIED >

<!ELEMENT old              %anyOtherType; >
<!ATTLIST old %idopt;  %linkopt;  >

<!ELEMENT new              %anyOtherType; >
<!ATTLIST new %idopt;  %linkopt;  >

<!ELEMENT domain           %anyOtherType; >
<!ATTLIST domain %idopt;  %linkopt;  >




<!ENTITY % docRefs        "original | passiveRef | activeRef | jurisprudence | hasAttachment | attachmentOf" >

<!ENTITY % TLCs           "TLCPerson | TLCOrganization | TLCConcept | TLCObject | TLCEvent | TLCPlace | TLCProcess | TLCRole | TLCTerm | TLCReference" >

<!ENTITY % refItems       "%docRefs; | %TLCs;" >


<!ELEMENT references     (%refItems;)+>

<!ATTLIST references %source;  >


<!ELEMENT original         %referenceType; >
<!ATTLIST original %idreq;  %link;  %show;  >

<!ELEMENT passiveRef       %referenceType; >
<!ATTLIST passiveRef %idreq;  %link;  %show;  >

<!ELEMENT activeRef        %referenceType; >
<!ATTLIST activeRef %idreq;  %link;  %show;  >

<!ELEMENT jurisprudence    %referenceType; >
<!ATTLIST jurisprudence %idreq;  %link;  %show;  >

<!ELEMENT hasAttachment    %referenceType; >
<!ATTLIST hasAttachment %idreq;  %link;  %show;  >

<!ATTLIST hasAttachment type CDATA #IMPLIED >

<!ELEMENT attachmentOf     %referenceType; >
<!ATTLIST attachmentOf %idreq;  %link;  %show;  >

<!ATTLIST attachmentOf type CDATA #IMPLIED >


<!ELEMENT TLCPerson        %referenceType; >
<!ATTLIST TLCPerson %idreq;  %link;  %show;  >

<!ELEMENT TLCOrganization  %referenceType; >
<!ATTLIST TLCOrganization %idreq;  %link;  %show;  >

<!ELEMENT TLCConcept       %referenceType; >
<!ATTLIST TLCConcept %idreq;  %link;  %show;  >

<!ELEMENT TLCObject        %referenceType; >
<!ATTLIST TLCObject %idreq;  %link;  %show;  >

<!ELEMENT TLCEvent         %referenceType; >
<!ATTLIST TLCEvent %idreq;  %link;  %show;  >

<!ELEMENT TLCPlace         %referenceType; >
<!ATTLIST TLCPlace %idreq;  %link;  %show;  >

<!ELEMENT TLCProcess       %referenceType; >
<!ATTLIST TLCProcess %idreq;  %link;  %show;  >

<!ELEMENT TLCRole          %referenceType; >
<!ATTLIST TLCRole %idreq;  %link;  %show;  >

<!ELEMENT TLCTerm          %referenceType; >
<!ATTLIST TLCTerm %idreq;  %link;  %show;  >

<!ELEMENT TLCReference     %referenceType; >
<!ATTLIST TLCReference %idreq;  %link;  %show;  >

<!ATTLIST TLCReference %name;  >


<!ELEMENT notes        (note)+>

<!ATTLIST notes %source;  >

<!ELEMENT note         %blocksreq; >
<!ATTLIST note %corereq;  >


<!ELEMENT proprietary %anyOtherType; >
<!ATTLIST proprietary %idopt;  %linkopt;  >

<!ATTLIST proprietary %source;  >



<!--  =====================================================================

End of Schema

=====================================================================  -->
