schemas/akomantoso10.dtd

<!ENTITY % PredefinedSimpleTypes SYSTEM "./pst.dtd">
%PredefinedSimpleTypes;

<!--  =====================================================================
Akoma Ntoso main schema


Tentative Release 16/03/2011
Complete version.


technical supervision Fabio Vitali - University of Bologna
legal domain supervision Monica Palmirani - University of Bologna

The present schema uses systematically XML design patterns as
described in http://www.xmlpatterns.com/
A few of them are explicitly mentioned, when their use or approach
was not felt clear or natural enough. Others are just used without
mentions.
=====================================================================  -->




<!--  =====================================================================

Main element groups

=====================================================================  -->


<!ENTITY % ANhier          "clause | section | part | paragraph | chapter | title | book | tome | article | point | indent | subsection | subpart | subparagraph | subchapter | subtitle | subclause" >



<!ENTITY % ANcontainers    "speech | question | answer | other | scene | narrative | summary" >



<!ENTITY % basicContainers    "subdivision" >

<!ENTITY % preambleContainers    "recitals | citation | subdivision" >

<!ENTITY % prefaceContainers    "longTitle | subdivision" >


<!ENTITY % ANblock         "list | toc | tblock" >

<!ENTITY % ANinline        "ref | mref | rref | mod | mmod | rmod | remark | recordedTime | vote | outcome | ins | del | omissis | placeholder" >

<!ENTITY % ANtitleInline   "docType | docTitle | docNumber | docProponent | docDate | legislature | session | docPurpose | docCommittee | docIntroducer | docStage | docStatus | docJurisdiction | docketNumber" >



<!ENTITY % ANheaderInline  "courtType | neutralCitation | party | judge | lawyer | signature | opinion" >




<!ENTITY % ANsemanticInline   "date | person | organization | concept | object | event | location | process | role | term | quantity | def | entity" >


<!ENTITY % ANmarker        "noteRef | eol | eop" >


<!ENTITY % ANpopup          "authorialNote" >



<!ENTITY % HTMLcontainers    "div" >

<!ENTITY % HTMLblock         "ul | ol | table | p" >

<!ENTITY % HTMLinline        "b | i | a | span" >



<!ENTITY % HTMLmarker        "img" >




<!ENTITY % judgementBlock    "introduction | background | motivation | decision" >



<!ENTITY % amendmentBlock    "amendmentHeading | amendmentContent | amendmentReference | amendmentJustification" >

<!ENTITY % amendmentInline    "affectedDocument" >



<!ENTITY % speechSection     "administrationOfOath | rollCall | prayers | oralStatements | writtenStatements | personalStatements | ministerialStatements | resolutions | nationalInterest | declarationOfVote | communication | petitions | papers | noticesOfMotion | questions | address | proceduralMotions | pointOfOrder | debateSection" >




<!ENTITY % hierElements      "%ANhier; | hcontainer" >


<!ENTITY % containerElements "%speechSection; | %HTMLcontainers; | container" >

<!ENTITY % blockElements     "%ANblock; | %HTMLblock; | foreign | block" >

<!ENTITY % inlineElements    "%ANinline; | %HTMLinline; | %ANtitleInline; | %ANsemanticInline; | %ANheaderInline; | %amendmentInline; | inline" >


<!ENTITY % popupElements    "%ANpopup; | popup" >


<!ENTITY % markerElements    "%ANmarker; | %HTMLmarker; | marker" >


<!ENTITY % inlineCM          "%inlineElements; | %markerElements; | %popupElements;" >

<!--  =====================================================================

Attribute groups

=====================================================================  -->


<!ENTITY % alt         " alternativeTo %ANYURI; #IMPLIED" >

<!ENTITY % name         " name %STRING; #REQUIRED" >

<!ENTITY % source       " source %ANYURI; #REQUIRED" >

<!ENTITY % date         " date %DATE; #REQUIRED" >

<!ENTITY % time         " time %TIME; #REQUIRED" >

<!ENTITY % link         " href %ANYURI; #REQUIRED" >

<!ENTITY % linkopt      " href %ANYURI; #IMPLIED" >

<!ENTITY % value        " value %STRING; #REQUIRED" >

<!ENTITY % optvalue     " value %STRING; #IMPLIED" >


<!ENTITY % speechAtts   " by %ANYURI; #REQUIRED as %ANYURI; #IMPLIED to %ANYURI; #IMPLIED" >
<!ENTITY % voteAtts     " by %ANYURI; #REQUIRED as %ANYURI; #IMPLIED choice %ANYURI; #IMPLIED" >


<!ENTITY % show         " showAs %STRING; #REQUIRED shortForm %STRING; #IMPLIED" >

<!ENTITY % period " period %ANYURI; #IMPLIED"
>

<!ENTITY % statusType     "(omissis|repealed|suspended|editorial|ignore|translated|edited|verbatim)" >
<!ENTITY % EstatusType "((omissis|repealed|suspended|editorial|ignore|translated|edited|verbatim))" ><!ENTITY % enactment " %period;  status %statusType; #IMPLIED" >

<!ENTITY % placementType    "(side|left|right|bottom|inline)" >
<!ENTITY % EplacementType "((side|left|right|bottom|inline))" ><!ENTITY % notes " marker %STRING; #IMPLIED placement %placementType; #IMPLIED placementBase %ANYURI; #IMPLIED" >


<!ENTITY % modifiers " exclusion %BOOLEAN; #IMPLIED incomplete %BOOLEAN; #IMPLIED" >

<!ENTITY % role " as %ANYURI; #IMPLIED" >

<!ENTITY % actor " actor %ANYURI; #IMPLIED" >


<!ENTITY % outcome " outcome %ANYURI; #IMPLIED" >




<!ENTITY % cellattrs    " rowspan %INTEGER; '1'  colspan %INTEGER; '1' " >



<!ENTITY % HTMLattrs    " class %STRING; #IMPLIED style %STRING; #IMPLIED title %STRING; #IMPLIED" >

<!ENTITY % idreq        " id ID #REQUIRED" >

<!ENTITY % idopt        " id ID #IMPLIED" >


<!ENTITY % refersreq    " refersTo %ANYURI; #REQUIRED" >

<!ENTITY % refers       " refersTo %ANYURI; #IMPLIED" >

<!ENTITY % language           "%STRING;" >
<!ENTITY % Elanguage "(%ESTRING;)" ><!ENTITY % xmllang       " xml:lang %language; #IMPLIED" >


<!ENTITY % corereq      " %HTMLattrs;  %enactment;  %idreq;  %refers;  %xmllang;  %alt; " >

<!ENTITY % corereqreq   " %HTMLattrs;  %enactment;  %idreq;  %refersreq;  %xmllang;  %alt; " >

<!ENTITY % coreopt      " %HTMLattrs;  %enactment;  %idopt;  %refers;  %xmllang;  %alt; " >

<!--  =====================================================================

Simple types (data values)

=====================================================================  -->



<!ENTITY % yesNoType    "(yes|no)" >
<!ENTITY % EyesNoType "((yes|no))" >

<!ENTITY % versionType    "(originalVersion|singleVersion|multipleVersions)" >
<!ENTITY % EversionType "((originalVersion|singleVersion|multipleVersions))" >





<!ENTITY % eventType      "(generation|amendment|repeal)" >
<!ENTITY % EeventType "((generation|amendment|repeal))" >





<!ENTITY % remarkType     "(sceneDescription|phenomenon|caption|translation)" >
<!ENTITY % EremarkType "((sceneDescription|phenomenon|caption|translation))" >

<!ENTITY % timeType       "(startEvent|endEvent)" >
<!ENTITY % EtimeType "((startEvent|endEvent))" >




<!ENTITY % opinionType  "(dissenting|agreeing|null)" >
<!ENTITY % EopinionType "((dissenting|agreeing|null))" >

<!ENTITY % resultType  "(deny|dismiss|uphold|revert|replaceOrder|remit|decide|approve)" >
<!ENTITY % EresultType "((deny|dismiss|uphold|revert|replaceOrder|remit|decide|approve))" >



<!ENTITY % posType  "(start|before|inside|after|end|unspecified)" >
<!ENTITY % EposType "((start|before|inside|after|end|unspecified))" >


<!--  =====================================================================

Complex types (markup structures)

=====================================================================  -->


<!ENTITY % basehierarchy     "(num?,heading?,subheading?)" >


<!ENTITY % hierarchy         "(%basehierarchy;,((intro?,(%hierElements;)+,wrap?) | content))" >


<!ENTITY % althierarchy      "(%basehierarchy;,(%containerElements; | %ANcontainers; | %blockElements;)*)" >

<!ENTITY % blocksreq         "(%blockElements;)+" >

<!ENTITY % blocksopt         "(%blockElements;)+" >

<!ENTITY % inline_mixed            "%inlineCM;" >
<!ENTITY % inline "(#PCDATA | %inline_mixed;)*" >

<!ENTITY % inlinereq_mixed         "%inlineCM;" >
<!ENTITY % inlinereq "(#PCDATA | %inlinereq_mixed;)*" >

<!ENTITY % inlinereqreq_mixed      "%inlineCM;" >
<!ENTITY % inlinereqreq "(#PCDATA | %inlinereqreq_mixed;)*" >


<!ENTITY % markerreq         "EMPTY" >

<!ENTITY % markeropt         "EMPTY" >

<!ENTITY % metareq           "EMPTY" >

<!ENTITY % metaopt           "EMPTY" >


<!ENTITY % maincontent       "(%hierElements; | %blockElements; | %containerElements;)+" >



<!ENTITY % speechType        "(%basehierarchy;,(from?,(%blockElements;)+))" >



<!ENTITY % referenceType     "EMPTY" >

<!ENTITY % anyOtherType      "ANY" >

<!--  =====================================================================

Root element
Comment: One generic root element contains all document elements
Pattern: Universal Root
Reference: http://www.xmlpatterns.com/UniversalRootMain.shtml

=====================================================================  -->



<!ENTITY % collectionDocs  "amendmentList | officialGazette | documentCollection" >



<!ENTITY % legislativeDocs  "act | bill" >



<!ENTITY % judgementDocs    "judgement" >



<!ENTITY % amendmentDocs    "amendment" >



<!ENTITY % debateDocs       "report | debate" >



<!ENTITY % documentType      "%collectionDocs; | %legislativeDocs; | %debateDocs; | %amendmentDocs; | %judgementDocs; | doc" >



<!--  =====================================================================

Document elements
Comment: All document elements share just two content models
Pattern: Consistent Element Set
Reference: http://www.xmlpatterns.com/ConsistentElementSetMain.shtml

=====================================================================  -->


<!ENTITY % akomaNtosoType    "((%documentType;),components?)" >

<!ELEMENT     akomaNtoso        %akomaNtosoType; ><!ATTLIST akomaNtoso xmlns CDATA #FIXED "http://www.akomantoso.org/1.0"
 xmlns:xml CDATA #FIXED "http://www.w3.org/XML/1998/namespace" >



<!ENTITY % openStructure     "(meta,coverPage?,preface?,preamble?,mainContent,conclusions?,attachments?)" >


<!ELEMENT doc           %openStructure; >
<!ATTLIST doc %name;  contains %versionType; 'originalVersion'  >

<!ELEMENT mainContent     %maincontent; >
<!ATTLIST mainContent %coreopt;  >




<!ENTITY % collectionStructure "(meta,coverPage?,preface?,collectionContent,conclusions?,attachments?)" >


<!ELEMENT amendmentList           %collectionStructure; >
<!ATTLIST amendmentList contains %versionType; 'originalVersion'  >

<!ELEMENT officialGazette           %collectionStructure; >
<!ATTLIST officialGazette contains %versionType; 'originalVersion'  >

<!ELEMENT documentCollection           %collectionStructure; >
<!ATTLIST documentCollection contains %versionType; 'originalVersion'  >

<!ATTLIST documentCollection %name;  >



<!ELEMENT interstitial  %blocksreq; >
<!ATTLIST interstitial %corereq;  >

<!ENTITY % collectionContentType  "(%documentType; | componentRef | interstitial?)+" >
<!ELEMENT collectionContent       %collectionContentType; >
<!ATTLIST collectionContent %coreopt;  >




<!ENTITY % hierarchicalStructure "(meta,coverPage?,preface?,preamble?,body,conclusions?,attachments?)" >


<!ELEMENT act           %hierarchicalStructure; >
<!ATTLIST act contains %versionType; 'originalVersion'  >



<!ELEMENT bill          %hierarchicalStructure; >
<!ATTLIST bill contains %versionType; 'originalVersion'  >


<!ELEMENT body            (%hierElements;)+>

<!ATTLIST body %coreopt;  >



<!ENTITY % debateStructure     "(meta,coverPage?,preface?,debateContent,conclusions?,attachments?)" >


<!ELEMENT report        %openStructure; >
<!ATTLIST report %name;  contains %versionType; 'originalVersion'  >

<!ELEMENT debate  %debateStructure; >
<!ATTLIST debate contains %versionType; 'originalVersion'  >


<!ELEMENT debateContent          (%speechSection;)+>

<!ATTLIST debateContent %coreopt;  >




<!ENTITY % judgementStructure     "(meta,coverPage?,header,judgementBody,conclusions?,attachments?)" >


<!ELEMENT judgement     %judgementStructure; >
<!ATTLIST judgement contains %versionType; 'originalVersion'  >


<!ELEMENT judgementBody   (%judgementBlock;)+>

<!ATTLIST judgementBody %coreopt;  >




<!ENTITY % amendmentStructure     "(meta,coverPage?,preface?,amendmentBody,conclusions?,attachments?)" >


<!ELEMENT amendment     %amendmentStructure; >
<!ATTLIST amendment contains %versionType; 'originalVersion'  >


<!ELEMENT amendmentBody   (%amendmentBlock;)+>

<!ATTLIST amendmentBody %coreopt;  >




<!ELEMENT recitals    (recital+)>

<!ELEMENT recital    %blocksopt; >
<!ATTLIST recital %coreopt;  >

<!ELEMENT citation    %blocksopt; >
<!ATTLIST citation %coreopt;  >

<!ELEMENT longTitle    %blocksopt; >
<!ATTLIST longTitle %coreopt;  >

<!ELEMENT subdivision    %blocksopt; >
<!ATTLIST subdivision %coreopt;  >





<!ENTITY % basicopt         "(%blockElements; | %basicContainers;)+" >

<!ELEMENT coverPage    %basicopt; >
<!ATTLIST coverPage %coreopt;  >

<!ENTITY % preambleopt         "(%blockElements; | %preambleContainers;)+" >

<!ELEMENT preamble    %preambleopt; >
<!ATTLIST preamble %coreopt;  >

<!ENTITY % prefaceopt         "(%blockElements; | %prefaceContainers;)+" >

<!ELEMENT preface     %prefaceopt; >
<!ATTLIST preface %coreopt;  >

<!ELEMENT conclusions %basicopt; >
<!ATTLIST conclusions %coreopt;  >

<!ELEMENT header      %blocksopt; >
<!ATTLIST header %coreopt;  >

<!ELEMENT attachments (componentRef+)>

<!ATTLIST attachments %coreopt;  >

<!ELEMENT componentRef  %referenceType; >
<!ATTLIST componentRef %idreq;  %link;  %show;  >



<!--  =====================================================================

Elements for hierarchical documents

=====================================================================  -->


<!ELEMENT clause        %hierarchy; >
<!ATTLIST clause %corereq;  >

<!ELEMENT section       %hierarchy; >
<!ATTLIST section %corereq;  >

<!ELEMENT part          %hierarchy; >
<!ATTLIST part %corereq;  >

<!ELEMENT paragraph     %hierarchy; >
<!ATTLIST paragraph %corereq;  >

<!ELEMENT chapter       %hierarchy; >
<!ATTLIST chapter %corereq;  >

<!ELEMENT title         %hierarchy; >
<!ATTLIST title %corereq;  >


<!ELEMENT book          %hierarchy; >
<!ATTLIST book %corereq;  >

<!ELEMENT tome          %hierarchy; >
<!ATTLIST tome %corereq;  >

<!ELEMENT article       %hierarchy; >
<!ATTLIST article %corereq;  >



<!ELEMENT point    %hierarchy; >
<!ATTLIST point %corereq;  >

<!ELEMENT indent    %hierarchy; >
<!ATTLIST indent %corereq;  >

<!ELEMENT subsection    %hierarchy; >
<!ATTLIST subsection %corereq;  >

<!ELEMENT subpart       %hierarchy; >
<!ATTLIST subpart %corereq;  >

<!ELEMENT subparagraph  %hierarchy; >
<!ATTLIST subparagraph %corereq;  >

<!ELEMENT subchapter    %hierarchy; >
<!ATTLIST subchapter %corereq;  >

<!ELEMENT subtitle      %hierarchy; >
<!ATTLIST subtitle %corereq;  >

<!ELEMENT subclause     %hierarchy; >
<!ATTLIST subclause %corereq;  >



<!ELEMENT transitional    %hierarchy; >
<!ATTLIST transitional %corereq;  >


<!ELEMENT content       %blocksopt; >
<!ATTLIST content %coreopt;  >





<!ELEMENT num           %inline; >
<!ATTLIST num %coreopt;  >

<!ELEMENT heading       %inline; >
<!ATTLIST heading %coreopt;  >

<!ELEMENT subheading    %inline; >
<!ATTLIST subheading %coreopt;  >

<!ELEMENT intro    %blocksopt; >
<!ATTLIST intro %coreopt;  >

<!ELEMENT wrap    %blocksopt; >
<!ATTLIST wrap %coreopt;  >




<!--  =====================================================================

Elements for debates documents

=====================================================================  -->


<!ELEMENT administrationOfOath  %althierarchy; >
<!ATTLIST administrationOfOath %corereq;  >


<!ELEMENT rollCall  %althierarchy; >
<!ATTLIST rollCall %corereq;  >

<!ELEMENT prayers  %althierarchy; >
<!ATTLIST prayers %corereq;  >

<!ELEMENT oralStatements  %althierarchy; >
<!ATTLIST oralStatements %corereq;  >

<!ELEMENT writtenStatements  %althierarchy; >
<!ATTLIST writtenStatements %corereq;  >

<!ELEMENT personalStatements  %althierarchy; >
<!ATTLIST personalStatements %corereq;  >

<!ELEMENT ministerialStatements  %althierarchy; >
<!ATTLIST ministerialStatements %corereq;  >

<!ELEMENT resolutions  %althierarchy; >
<!ATTLIST resolutions %corereq;  >

<!ELEMENT nationalInterest  %althierarchy; >
<!ATTLIST nationalInterest %corereq;  >


<!ELEMENT declarationOfVote     %althierarchy; >
<!ATTLIST declarationOfVote %corereq;  >

<!ELEMENT communication         %althierarchy; >
<!ATTLIST communication %corereq;  >

<!ELEMENT petitions             %althierarchy; >
<!ATTLIST petitions %corereq;  >

<!ELEMENT papers                %althierarchy; >
<!ATTLIST papers %corereq;  >

<!ELEMENT noticesOfMotion       %althierarchy; >
<!ATTLIST noticesOfMotion %corereq;  >

<!ELEMENT questions             %althierarchy; >
<!ATTLIST questions %corereq;  >

<!ELEMENT address               %althierarchy; >
<!ATTLIST address %corereq;  >

<!ELEMENT proceduralMotions     %althierarchy; >
<!ATTLIST proceduralMotions %corereq;  >

<!ELEMENT pointOfOrder          %althierarchy; >
<!ATTLIST pointOfOrder %corereq;  >



<!ELEMENT debateSection           %althierarchy; >
<!ATTLIST debateSection %corereq;  >

<!ATTLIST debateSection %name;  >




<!ELEMENT speech              %speechType; >
<!ATTLIST speech %coreopt;  %speechAtts;  >

<!ELEMENT question            %speechType; >
<!ATTLIST question %coreopt;  %speechAtts;  >

<!ELEMENT answer              %speechType; >
<!ATTLIST answer %coreopt;  %speechAtts;  >

<!ELEMENT other               %blocksopt; >
<!ATTLIST other %coreopt;  >

<!ELEMENT scene               %inline; >
<!ATTLIST scene %coreopt;  >

<!ELEMENT narrative               %inline; >
<!ATTLIST narrative %coreopt;  >

<!ELEMENT summary               %inline; >
<!ATTLIST summary %coreopt;  >

<!ELEMENT from          %inline; >
<!ATTLIST from %coreopt;  >


<!ELEMENT vote               %inline; >
<!ATTLIST vote %coreopt;  >

<!ATTLIST vote %voteAtts;  >

<!ELEMENT outcome               %inline; >
<!ATTLIST outcome %coreopt;  >






<!ELEMENT introduction        %maincontent; >
<!ATTLIST introduction %coreopt;  >

<!ELEMENT background          %maincontent; >
<!ATTLIST background %coreopt;  >

<!ELEMENT motivation          %maincontent; >
<!ATTLIST motivation %coreopt;  >

<!ELEMENT decision            %maincontent; >
<!ATTLIST decision %coreopt;  >




<!ELEMENT affectedDocument        %inline; >
<!ATTLIST affectedDocument %coreopt;  >

<!ATTLIST affectedDocument %link;  >


<!ELEMENT amendmentHeading        %blocksopt; >
<!ATTLIST amendmentHeading %coreopt;  >

<!ELEMENT amendmentContent          %blocksopt; >
<!ATTLIST amendmentContent %coreopt;  >

<!ELEMENT amendmentReference          %blocksopt; >
<!ATTLIST amendmentReference %coreopt;  >

<!ELEMENT amendmentJustification            %blocksopt; >
<!ATTLIST amendmentJustification %coreopt;  >


<!--  =====================================================================

AN block elements
Comment: the only AN-specific block are the table of content (TOC),
a structure containing toc items related to the various subparts of the
main document, the list item and the titled block

=====================================================================  -->


<!ELEMENT list                (listIntroduction?,item+,listConclusion?)>

<!ATTLIST list %corereq;  >

<!ENTITY % itemType          "(%basehierarchy;,(%blockElements;)+)" >
<!--  The element item is a container belonging to a list  -->
<!ELEMENT item                %itemType; >
<!ATTLIST item %corereq;  >

<!ELEMENT listIntroduction   %inline; >
<!ATTLIST listIntroduction %coreopt;  >

<!ELEMENT listConclusion   %inline; >
<!ATTLIST listConclusion %coreopt;  >



<!ELEMENT tblock              %itemType; >
<!ATTLIST tblock %corereq;  >



<!ELEMENT toc       (tocItem+)>

<!ELEMENT tocItem   %inline; >
<!ATTLIST tocItem %coreopt;  >

<!ATTLIST tocItem %link;  level %INTEGER; #REQUIRED >




<!--  =====================================================================

AN inline elements
Comment: AN-specific inline elements are connected to the
identification of elements that are corresponding to an inline
legal structure, regardless of their position in the document.

=====================================================================  -->


<!ELEMENT docType      %inline; >
<!ATTLIST docType %coreopt;  >

<!ELEMENT docTitle     %inline; >
<!ATTLIST docTitle %coreopt;  >

<!ELEMENT docNumber    %inline; >
<!ATTLIST docNumber %coreopt;  >

<!ELEMENT docProponent %inline; >
<!ATTLIST docProponent %coreopt;  >

<!ELEMENT docDate      %inline; >
<!ATTLIST docDate %coreopt;  >

<!ATTLIST docDate %date;  >

<!ELEMENT legislature      %inline; >
<!ATTLIST legislature %coreopt;  >

<!ELEMENT session      %inline; >
<!ATTLIST session %coreopt;  >



<!ELEMENT docPurpose   %inline; >
<!ATTLIST docPurpose %coreopt;  >

<!ELEMENT docCommittee   %inline; >
<!ATTLIST docCommittee %coreopt;  >

<!ELEMENT docIntroducer   %inline; >
<!ATTLIST docIntroducer %coreopt;  >

<!ELEMENT docStage   %inline; >
<!ATTLIST docStage %coreopt;  >

<!ELEMENT docStatus   %inline; >
<!ATTLIST docStatus %coreopt;  >

<!ELEMENT docJurisdiction   %inline; >
<!ATTLIST docJurisdiction %coreopt;  >

<!ELEMENT docketNumber    %inline; >
<!ATTLIST docketNumber %coreopt;  >




<!ELEMENT courtType          %inline; >
<!ATTLIST courtType %coreopt;  >

<!ELEMENT neutralCitation    %inline; >
<!ATTLIST neutralCitation %coreopt;  >

<!ELEMENT party              %inlinereqreq; >
<!ATTLIST party %corereqreq;  >

<!ATTLIST party %role;  >

<!ELEMENT judge              %inlinereqreq; >
<!ATTLIST judge %corereqreq;  >

<!ATTLIST judge %role;  >

<!ELEMENT lawyer             %inlinereqreq; >
<!ATTLIST lawyer %corereqreq;  >

<!ATTLIST lawyer %role;  for %ANYURI; #IMPLIED empoweredBy %ANYURI; #IMPLIED >

<!ELEMENT opinion            %inline; >
<!ATTLIST opinion %coreopt;  >

<!ATTLIST opinion type %opinionType; #IMPLIED >





<!ELEMENT signature          %inline; >
<!ATTLIST signature %coreopt;  >



<!ELEMENT date               %inline; >
<!ATTLIST date %coreopt;  >

<!ATTLIST date %date;  >


<!ELEMENT entity             %inlinereqreq; >
<!ATTLIST entity %corereqreq;  >

<!ATTLIST entity %name;  >


<!ELEMENT person             %inlinereqreq; >
<!ATTLIST person %corereqreq;  >

<!ATTLIST person as %ANYURI; #IMPLIED >

<!ELEMENT organization  %inlinereqreq; >
<!ATTLIST organization %corereqreq;  >

<!ELEMENT concept       %inlinereqreq; >
<!ATTLIST concept %corereqreq;  >

<!ELEMENT object        %inlinereqreq; >
<!ATTLIST object %corereqreq;  >

<!ELEMENT event         %inlinereqreq; >
<!ATTLIST event %corereqreq;  >

<!ELEMENT location         %inlinereqreq; >
<!ATTLIST location %corereqreq;  >

<!ELEMENT process       %inlinereqreq; >
<!ATTLIST process %corereqreq;  >

<!ELEMENT role          %inlinereqreq; >
<!ATTLIST role %corereqreq;  >

<!ELEMENT term          %inlinereqreq; >
<!ATTLIST term %corereqreq;  >

<!ELEMENT quantity          %inlinereqreq; >
<!ATTLIST quantity %corereqreq;  >

<!ATTLIST quantity normalized %STRING; #IMPLIED >


<!ELEMENT def          %inline; >
<!ATTLIST def %coreopt;  >




<!ELEMENT ref          %inlinereq; >
<!ATTLIST ref %corereq;  >

<!ATTLIST ref %link;  >



<!ELEMENT mref         %inline; >
<!ATTLIST mref %coreopt;  >

<!ELEMENT rref         %inlinereq; >
<!ATTLIST rref %corereq;  >

<!ATTLIST rref %link;  upTo %ANYURI; #REQUIRED >




<!ENTITY % modType_mixed  "%inlineCM; | quotedText | quotedStructure" >
<!ENTITY % modType "(#PCDATA | %modType_mixed;)*" >

<!ELEMENT mod   %modType; >
<!ATTLIST mod %corereq;  >

<!ELEMENT mmod  %modType; >
<!ATTLIST mmod %corereq;  >

<!ELEMENT rmod  %modType; >
<!ATTLIST rmod %corereq;  >

<!ATTLIST rmod upTo %ANYURI; #REQUIRED >


<!ELEMENT quotedText        %inline; >
<!ATTLIST quotedText %coreopt;  >



<!ELEMENT remark       %inline; >
<!ATTLIST remark %coreopt;  >

<!ATTLIST remark type %remarkType; #IMPLIED >

<!ELEMENT recordedTime   %inline; >
<!ATTLIST recordedTime %coreopt;  >

<!ATTLIST recordedTime type %timeType; #IMPLIED %time;  >




<!ELEMENT ins          %inline; >
<!ATTLIST ins %coreopt;  >

<!ELEMENT del          %inline; >
<!ATTLIST del %coreopt;  >

<!ELEMENT omissis      %inline; >
<!ATTLIST omissis %coreopt;  >



<!ELEMENT placeholder  %inline; >
<!ATTLIST placeholder %coreopt;  >

<!ATTLIST placeholder originalText %STRING; #IMPLIED >


<!--  =====================================================================

AN marker elements
Comment: AN-specific marker elements are connected to the
identification of locations within the legal structure, anywhere where
there is text.

=====================================================================  -->



<!ELEMENT noteRef      %markeropt; >
<!ATTLIST noteRef %coreopt;  >

<!ATTLIST noteRef %notes;  %link;  >



<!ENTITY % eolType  "%markeropt;" >

<!ELEMENT eol   %eolType; >
<!ATTLIST eol breakat %INTEGER; #IMPLIED %coreopt;  >

<!ELEMENT eop   %eolType; >
<!ATTLIST eop breakat %INTEGER; #IMPLIED %coreopt;  >


<!--  =====================================================================

AN popup elements
Comment: AN-specific popup elements are connected to the
identification of structural elements that contain full structures
within a text content, but are not of textual nature.

=====================================================================  -->


<!ENTITY % popupStructure "(%hierElements; | %blockElements; | %containerElements; | %ANcontainers; | %preambleContainers;)+" >



<!ELEMENT quotedStructure   %popupStructure; >
<!ATTLIST quotedStructure %corereq;  >

<!ATTLIST quotedStructure for %ANYURI; #IMPLIED >




<!ELEMENT authorialNote   %popupStructure; >
<!ATTLIST authorialNote %corereq;  >

<!ATTLIST authorialNote %notes;  >

<!ELEMENT popup    %popupStructure; >
<!ATTLIST popup %corereq;  >





<!ELEMENT foreign    %anyOtherType; >
<!ATTLIST foreign %idopt;  %linkopt;  >



<!--  =====================================================================

Generic elements
Comment: All elements in this schema fall under one of five
content models: hierarchical container, container, block, inline
and mark. Besides named elements, the schema also provides for a
generic element for each of them, that can be used for markup that
fits the content models but can be specified by a precise name that
is not used in this schema. The 'name' attribute must be used for
naming the element.
It is also a characteristic of this schema that all named elements
are equivalent, and can be substituted to, the corresponding generic
element with their name as the value of the name attribute. Thus, by
definition, <p>  = <block name="p"> , <part>  = <hcontainer name="part"> ,
<act>  = <container name="act"> , etc.
Pattern: Generic Document + Role Attribute
Reference: http://www.xmlpatterns.com/GenericDocumentMain.shtml +
http://www.xmlpatterns.com/RoleAttributeMain.shtml

=====================================================================  -->



<!ELEMENT hcontainer %hierarchy; >
<!ATTLIST hcontainer %corereq;  >

<!ATTLIST hcontainer %name;  >


<!ELEMENT container  %blocksreq; >
<!ATTLIST container %corereq;  >

<!ATTLIST container %name;  >

<!ELEMENT block      %inline; >
<!ATTLIST block %coreopt;  >

<!ATTLIST block %name;  >

<!ELEMENT inline     %inline; >
<!ATTLIST inline %coreopt;  >

<!ATTLIST inline %name;  >

<!ELEMENT marker     %markerreq; >
<!ATTLIST marker %corereq;  >

<!ATTLIST marker %name;  >



<!--  =====================================================================

HTML elements
Comment: Many elements are drawn directly from HTML 4.0
Pattern: Reuse Document Types (partial)
Reference: http://www.xmlpatterns.com/ReuseDocumentTypesMain.shtml

=====================================================================  -->



<!ELEMENT div  %blocksreq; >
<!ATTLIST div %corereq;  >

<!ELEMENT p    %inline; >
<!ATTLIST p %coreopt;  >

<!ELEMENT span %inline; >
<!ATTLIST span %coreopt;  >



<!ELEMENT b    %inline; >
<!ATTLIST b %coreopt;  >

<!ELEMENT i    %inline; >
<!ATTLIST i %coreopt;  >

<!ELEMENT a    %inline; >
<!ATTLIST a %coreopt;  >

<!ATTLIST a %link;  target %STRING; #IMPLIED >


<!ELEMENT img %markeropt; >
<!ATTLIST img %coreopt;  >

<!ATTLIST img src %ANYURI; #REQUIRED alt %STRING; #IMPLIED width %INTEGER; #IMPLIED height %INTEGER; #IMPLIED >


<!ENTITY % listItems "(li+)" >

<!ELEMENT ul   %listItems; >
<!ATTLIST ul %corereq;  >

<!ELEMENT ol   %listItems; >
<!ATTLIST ol %corereq;  >

<!ELEMENT li   (#PCDATA |%inlineCM; | ul | ol | p)*>

<!ATTLIST li %optvalue;  %coreopt;  >




<!ELEMENT table (caption?,tr+)>

<!ATTLIST table %corereq;  width %INTEGER; #IMPLIED border %INTEGER; #IMPLIED cellspacing %INTEGER; #IMPLIED cellpadding %INTEGER; #IMPLIED >


<!ELEMENT caption    %inline; >
<!ATTLIST caption %coreopt;  >


<!ELEMENT tr (th | td)+>

<!ATTLIST tr %corereq;  >

<!ELEMENT th %blocksreq; >
<!ATTLIST th %corereq;  >

<!ATTLIST th %cellattrs;  >


<!ELEMENT td %blocksreq; >
<!ATTLIST td %corereq;  >

<!ATTLIST td %cellattrs;  >


<!--  =====================================================================

Metadata elements for all documents

=====================================================================  -->

<!ELEMENT meta             (identification,publication?,classification*,lifecycle*,workflow*,analysis*,temporalData*,references*,notes*,proprietary*)>



<!ELEMENT identification   (FRBRWork,FRBRExpression,FRBRManifestation,FRBRItem?)>

<!ATTLIST identification %source;  >


<!ENTITY % coreProperties   "(FRBRthis,FRBRuri+,FRBRalias*,FRBRdate,FRBRauthor+,componentInfo?,preservation?)" >

<!ENTITY % langProperties   "FRBRlanguage* , FRBRtranslation*" >


<!ELEMENT FRBRWork             %coreProperties; >

 <!ENTITY       % FRBRExpression_entity "(%coreProperties;,(%langProperties;))" ><!ELEMENT FRBRExpression %FRBRExpression_entity;>

<!ELEMENT FRBRManifestation    %coreProperties; >

<!ELEMENT FRBRItem             %coreProperties; >



<!ELEMENT FRBRthis             %metaopt; >
<!ATTLIST FRBRthis %idopt;  >

<!ATTLIST FRBRthis %value;  >

<!ELEMENT FRBRuri              %metaopt; >
<!ATTLIST FRBRuri %idopt;  >

<!ATTLIST FRBRuri %value;  >

<!ELEMENT FRBRalias            %metaopt; >
<!ATTLIST FRBRalias %idopt;  >

<!ATTLIST FRBRalias %value;  >

<!ELEMENT FRBRdate             %metaopt; >
<!ATTLIST FRBRdate %idopt;  >

<!ATTLIST FRBRdate %date;  %name;  >

<!ELEMENT FRBRauthor           %metaopt; >
<!ATTLIST FRBRauthor %idopt;  >

<!ATTLIST FRBRauthor %link;  as %ANYURI; #IMPLIED >

<!ELEMENT FRBRlanguage            %metaopt; >
<!ATTLIST FRBRlanguage %idopt;  >

<!ATTLIST FRBRlanguage language %language; #REQUIRED >


<!ELEMENT FRBRtranslation      %metaopt; >
<!ATTLIST FRBRtranslation %idopt;  >

<!ATTLIST FRBRtranslation %link;  fromLanguage %language; #REQUIRED pivot %language; #IMPLIED by %ANYURI; #REQUIRED >



<!ELEMENT componentInfo          (componentData)*>

<!ELEMENT componentData           (componentData)*>

<!ATTLIST componentData %idreq;  %name;  %link;  %show;  >

<!ELEMENT preservation        %anyOtherType; >
<!ATTLIST preservation %idopt;  %linkopt;  >






<!ELEMENT publication      %metaopt; >
<!ATTLIST publication %idopt;  >

<!ATTLIST publication %date;  %show;  %name;  %refers;  >


<!ELEMENT classification   (keyword+)>

<!ATTLIST classification %source;  >


<!ELEMENT keyword %metaopt; >
<!ATTLIST keyword %idopt;  >

<!ATTLIST keyword %value;  %show;  dictionary %ANYURI; #REQUIRED >



<!ELEMENT lifecycle (eventRef+)>

<!ATTLIST lifecycle %source;  >

<!ELEMENT eventRef %anyOtherType; >
<!ATTLIST eventRef %idopt;  %linkopt;  >

<!ATTLIST eventRef %date;  %source;  type %eventType; #IMPLIED originatingExpression %yesNoType; #IMPLIED >


<!ELEMENT workflow   (step+)>

<!ATTLIST workflow %source;  >

<!ELEMENT step     %anyOtherType; >
<!ATTLIST step %idopt;  %linkopt;  >

<!ATTLIST step %date;  %actor;  %role;  %outcome;  >




<!ELEMENT analysis              (activeModifications?,passiveModifications?,judicial?,parliamentary?,otherAnalysis)>

<!ATTLIST analysis %source;  >



<!ENTITY % Amendments          "(textualMod | meaningMod | scopeMod | forceMod | efficacyMod | legalSystemMod)+" >

<!ENTITY % modificationType    "(source+,destination+,force?,efficacy?,application?,duration?,condition?)" >


<!ENTITY % TextualMods         "(repeal|substitution|insertion|replacement|renumbering)" >
<!ENTITY % ETextualMods "((repeal|substitution|insertion|replacement|renumbering))" >

<!ENTITY % MeaningMods         "(variation|termModification|authenticInterpretation)" >
<!ENTITY % EMeaningMods "((variation|termModification|authenticInterpretation))" >

<!ENTITY % ScopeMods           "(exceptionOfScope|extensionOfScope)" >
<!ENTITY % EScopeMods "((exceptionOfScope|extensionOfScope))" >

<!ENTITY % ForceMods           "(entryIntoForce|endOfEnactment|postponementOfEntryIntoForce|prorogationOfForce|reEnactment|uncostitutionality)" >
<!ENTITY % EForceMods "((entryIntoForce|endOfEnactment|postponementOfEntryIntoForce|prorogationOfForce|reEnactment|uncostitutionality))" >

<!ENTITY % EfficacyMods        "(entryIntoEfficacy|endOfEfficacy|inapplication|retroactivity|extraefficacy|postponementOfEfficacy|prorogationOfEfficacy)" >
<!ENTITY % EEfficacyMods "((entryIntoEfficacy|endOfEfficacy|inapplication|retroactivity|extraefficacy|postponementOfEfficacy|prorogationOfEfficacy))" >

<!ENTITY % LegalSystemMods     "(staticReference|implementation|ratification|application|legislativeDelegation|deregulation|conversion|expiration|reiteration|remaking|republication|coordination)" >
<!ENTITY % ELegalSystemMods "((staticReference|implementation|ratification|application|legislativeDelegation|deregulation|conversion|expiration|reiteration|remaking|republication|coordination))" >


<!ELEMENT activeModifications   %Amendments; >

<!ELEMENT passiveModifications  %Amendments; >

 <!ENTITY            % textualMod_entity "(%modificationType;,(old?,new?))" ><!ELEMENT textualMod %textualMod_entity;>
<!ATTLIST textualMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST textualMod type %TextualMods; #REQUIRED >

 <!ENTITY            % meaningMod_entity "(%modificationType;,(domain?))" ><!ELEMENT meaningMod %meaningMod_entity;>
<!ATTLIST meaningMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST meaningMod type %MeaningMods; #REQUIRED >

 <!ENTITY              % scopeMod_entity "(%modificationType;,(domain?))" ><!ELEMENT scopeMod %scopeMod_entity;>
<!ATTLIST scopeMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST scopeMod type %ScopeMods; #REQUIRED >

<!ELEMENT forceMod              %modificationType; >
<!ATTLIST forceMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST forceMod type %ForceMods; #REQUIRED >

<!ELEMENT efficacyMod           %modificationType; >
<!ATTLIST efficacyMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST efficacyMod type %EfficacyMods; #REQUIRED >

<!ELEMENT legalSystemMod        %modificationType; >
<!ATTLIST legalSystemMod %idreq;  %enactment;  %modifiers;  %refers;  >

<!ATTLIST legalSystemMod type %LegalSystemMods; #REQUIRED >




<!ENTITY % judicialArguments          "(result,(supports | isAnalogTo | applies | extends | restricts | derogates | contrasts | overrules | dissentsFrom | putsInQuestion | distinguishes)+)" >

<!ENTITY % judicialArgumentType       "(source+,destination+,condition?)" >


<!ELEMENT judicial   %judicialArguments; >

<!ELEMENT result   %anyOtherType; >
<!ATTLIST result %idopt;  %linkopt;  >

<!ATTLIST result type %resultType; #REQUIRED >


<!ELEMENT supports  %judicialArgumentType; >
<!ATTLIST supports %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT isAnalogTo  %judicialArgumentType; >
<!ATTLIST isAnalogTo %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT applies  %judicialArgumentType; >
<!ATTLIST applies %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT extends  %judicialArgumentType; >
<!ATTLIST extends %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT restricts  %judicialArgumentType; >
<!ATTLIST restricts %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT derogates  %judicialArgumentType; >
<!ATTLIST derogates %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT contrasts  %judicialArgumentType; >
<!ATTLIST contrasts %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT overrules  %judicialArgumentType; >
<!ATTLIST overrules %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT dissentsFrom  %judicialArgumentType; >
<!ATTLIST dissentsFrom %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT putsInQuestion  %judicialArgumentType; >
<!ATTLIST putsInQuestion %idreq;  %enactment;  %modifiers;  %refers;  >

<!ELEMENT distinguishes  %judicialArgumentType; >
<!ATTLIST distinguishes %idreq;  %enactment;  %modifiers;  %refers;  >




<!ENTITY % parliamentaryAnalysis          "(quorumVerification | voting | recount)+" >

<!ELEMENT parliamentary   %parliamentaryAnalysis; >


<!ENTITY % parliamentaryAnalysisType       "(quorum | count)+" >

<!ELEMENT quorumVerification  %parliamentaryAnalysisType; >
<!ATTLIST quorumVerification %idreq;  %outcome;  %refers;  %linkopt;  >

<!ELEMENT voting   %parliamentaryAnalysisType; >
<!ATTLIST voting %idreq;  %outcome;  %refers;  %linkopt;  >

<!ELEMENT recount   %parliamentaryAnalysisType; >
<!ATTLIST recount %idreq;  %outcome;  %refers;  %linkopt;  >


<!ENTITY % countType       "ANY" >

<!ELEMENT quorum  %countType; >
<!ATTLIST quorum %idreq;  %value;  %refers;  %linkopt;  >

<!ELEMENT count  %countType; >
<!ATTLIST count %idreq;  %value;  %refers;  %linkopt;  >




<!ELEMENT otherAnalysis %anyOtherType; >
<!ATTLIST otherAnalysis %idopt;  %linkopt;  >

<!ATTLIST otherAnalysis %source;  >



<!ENTITY % pos " pos %posType; #IMPLIED" >

<!ENTITY % argumentType      "EMPTY" >

<!ENTITY % periodType        "EMPTY" >


<!ELEMENT source           %argumentType; >
<!ATTLIST source %idopt;  %link;  %pos;  upTo %ANYURI; #IMPLIED >

<!ELEMENT destination      %argumentType; >
<!ATTLIST destination %idopt;  %link;  %pos;  upTo %ANYURI; #IMPLIED >

<!ELEMENT force            %periodType; >
<!ATTLIST force %idopt;  %period;  >

<!ELEMENT efficacy         %periodType; >
<!ATTLIST efficacy %idopt;  %period;  >

<!ELEMENT application      %periodType; >
<!ATTLIST application %idopt;  %period;  >

<!ELEMENT duration         %periodType; >
<!ATTLIST duration %idopt;  %period;  >

<!ELEMENT condition        %anyOtherType; >
<!ATTLIST condition %idopt;  %linkopt;  >

<!ATTLIST condition frozen %BOOLEAN; #IMPLIED >

<!ELEMENT old              %anyOtherType; >
<!ATTLIST old %idopt;  %linkopt;  >

<!ELEMENT new              %anyOtherType; >
<!ATTLIST new %idopt;  %linkopt;  >

<!ELEMENT domain           %anyOtherType; >
<!ATTLIST domain %idopt;  %linkopt;  >





<!ELEMENT temporalData  (temporalGroup)+>

<!ATTLIST temporalData %source;  >

<!--  The element temporalGroup contains a list of time Intervals that need to be applied together to an element of the document that is associated to time information. Each temporal group can contain any number of time interval associated via the refersTo to a different time-specific concept.  -->
<!ELEMENT temporalGroup  (timeInterval+)>

<!ATTLIST temporalGroup %idreq;  >

<!--  The element timeInterval contains all the data needed to identify a specific time interval. It is built either with two dates or with a date and a duration (exactly two of the 'start', 'end' and 'duration' attributes can be specified). Values are of the 'start' and 'end' attributes are NOT dates, but references to event elements in the corresponding metadata section. The refers attribute is a reference to a temporal concept belonging to the Akoma Ntoso ontology and specified in the references section  -->
<!ELEMENT timeInterval  %metaopt; >
<!ATTLIST timeInterval %idopt;  >

<!ATTLIST timeInterval %refersreq;  start %ANYURI; #IMPLIED end %ANYURI; #IMPLIED duration %DURATION; #IMPLIED >


<!ENTITY % docRefs        "original | passiveRef | activeRef | jurisprudence | hasAttachment | attachmentOf" >

<!ENTITY % TLCs           "TLCPerson | TLCOrganization | TLCConcept | TLCObject | TLCEvent | TLCLocation | TLCProcess | TLCRole | TLCTerm | TLCReference" >

<!ENTITY % refItems       "%docRefs; | %TLCs;" >


<!ELEMENT references     (%refItems;)+>

<!ATTLIST references %source;  >


<!ELEMENT original         %referenceType; >
<!ATTLIST original %idreq;  %link;  %show;  >

<!ELEMENT passiveRef       %referenceType; >
<!ATTLIST passiveRef %idreq;  %link;  %show;  >

<!ELEMENT activeRef        %referenceType; >
<!ATTLIST activeRef %idreq;  %link;  %show;  >

<!ELEMENT jurisprudence    %referenceType; >
<!ATTLIST jurisprudence %idreq;  %link;  %show;  >

<!ELEMENT hasAttachment    %referenceType; >
<!ATTLIST hasAttachment %idreq;  %link;  %show;  >

<!ATTLIST hasAttachment type CDATA #IMPLIED >

<!ELEMENT attachmentOf     %referenceType; >
<!ATTLIST attachmentOf %idreq;  %link;  %show;  >

<!ATTLIST attachmentOf type CDATA #IMPLIED >


<!ELEMENT TLCPerson        %referenceType; >
<!ATTLIST TLCPerson %idreq;  %link;  %show;  >

<!ELEMENT TLCOrganization  %referenceType; >
<!ATTLIST TLCOrganization %idreq;  %link;  %show;  >

<!ELEMENT TLCConcept       %referenceType; >
<!ATTLIST TLCConcept %idreq;  %link;  %show;  >

<!ELEMENT TLCObject        %referenceType; >
<!ATTLIST TLCObject %idreq;  %link;  %show;  >

<!ELEMENT TLCEvent         %referenceType; >
<!ATTLIST TLCEvent %idreq;  %link;  %show;  >

<!ELEMENT TLCLocation         %referenceType; >
<!ATTLIST TLCLocation %idreq;  %link;  %show;  >

<!ELEMENT TLCProcess       %referenceType; >
<!ATTLIST TLCProcess %idreq;  %link;  %show;  >

<!ELEMENT TLCRole          %referenceType; >
<!ATTLIST TLCRole %idreq;  %link;  %show;  >

<!ELEMENT TLCTerm          %referenceType; >
<!ATTLIST TLCTerm %idreq;  %link;  %show;  >

<!ELEMENT TLCReference     %referenceType; >
<!ATTLIST TLCReference %idreq;  %link;  %show;  >

<!ATTLIST TLCReference %name;  >







<!ELEMENT notes        (note)+>

<!ATTLIST notes %source;  >

<!ELEMENT note         %blocksreq; >
<!ATTLIST note %corereq;  >



<!ELEMENT proprietary %anyOtherType; >
<!ATTLIST proprietary %idopt;  %linkopt;  >

<!ATTLIST proprietary %source;  >


<!--  =====================================================================

Components

=====================================================================  -->


<!ELEMENT components (component+)>
<!ELEMENT component (%documentType;)>

<!ATTLIST component %idreq;  >


<!--  =====================================================================

End of Schema

=====================================================================  -->
